#!/usr/bin/env python3
"""Day __DAY_NUMBER__: TBD."""

from aoc import load_lines


def part1() -> int:
    """TBD."""
    return 0


def part2() -> int:
    """TBD."""
    return 0


if __name__ == "__main__":
    input_lines = load_lines(__DAY_NUMBER__, example=True)
    print(part1())
    print(part2())
